altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
idna==3.6
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pillow==10.2.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
PyYAML==6.0.1
ratelim==0.1.6
requests==2.31.0
scipy==1.12.0
six==1.16.0
sketchpy==0.1.7
svg.path==6.3
svgpathtools==1.6.1
svgwrite==1.4.3
tqdm==4.66.2
turtle==0.0.1
urllib3==2.2.1
